body{
    background-image: url(photo_2023-05-03_00-47-17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 350px;
    height: 280px;
    border: 1px ;
     display: flex;
    justify-content: center;  
    margin: auto;
    margin-top:180px ;
    background-color: #6d90a6c5;
    border-radius: 20px;
    padding: 10px;
    
}
#psw{
    padding: 5px;
    margin: 10px;
    border-radius:5px;
    border: 1px;
}
#email{
    padding: 5px;
    margin: 10px;
    border-radius:5px;
    border: 1px;
}
#login{
    padding: 10px;
    margin-left: 100px;
    margin-top: 5px;
    font-size: 15px;
    background-color:#081d4ed3;
    border: 1px;
    color:white;
}
#login:hover{
    background-color: #11527a;
    font-weight: bold; 
    cursor: pointer;
    transition-duration: 0.4s;

}
.m-m{
    padding-bottom: 50px;
}


 @media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 0;
  }

  #psw, #email {
    margin: 10px 0;
  }

  #login {
    margin-left: 0;
  }

}